---
const { link, title, description } = Astro.props;
---
<a href={link} class="block">
    <div>
        <img src="https://placehold.jp/600x400.png" alt="サンプル画像" class="w-full">
    </div>
    <p class="mt-6 font-medium">{title}</p>
    <p class="mt-3 text-sm text-gray">{description}</p>
</a>