---
const { title = "Default Title" } = Astro.props;
---
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <link rel="stylesheet" href="/src/styles/global.css" />
    </head>
    <body class="bg-cream">
        <header class="l-header py-3 md:py-7 px-6 md:px-8">
            <a href="/" class="block text-primary font-Montserrat py-3 text-xl">Mocchify</a>
        </header>
        <slot />
        <footer class="l-footer p-6 md:p-8">
            <div class="container mx-auto">
                <p class="text-center text-gray text-sm">&copy; 2025 kawamoto</p>
            </div>
        </footer>
    </body>
</html>
